{% extends 'base.html.twig' %}

{% block title %}New Team
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Rejoindre une équipe</h1>
		<a href="{{path('team_create')}}">Ou créer une équipe</a>
		{{ include('team/_form.html.twig', {'button_label': "Rejoindre une équipe"}) }}
	</div>

{% endblock %}
