<form method="POST" action="{{ path('task_done', {'id': task.id}) }}" onsubmit="">
	<input type="hidden" name="_method" value="POST">
	<button class="btn btn-success btn-sm">
		<i class="fas fa-check fa-sm"></i>
	</button>
</form>
