<form method="post" action="{{ path('task_undo', {'id': donetask.id}) }}">
    <input type="hidden" name="_method" value="POST">
    
    <button class="btn btn-warning"><i class="fas fa-undo"></i></button>
</form>
