{% block body %}
	<div class="container">
		<h1>My Todo List</h1>


		{% for task in tasks %}

			<div>
				{{task.description}}</div>

		{% else %}
			<div>
				no record found</div>
		{% endfor %}
		{{ render(controller(
        'App\\Controller\\TaskController::new'
    )) }}

	</div>
{% endblock %}
