{% block body %}
	<div class="container">
		<h1>My Todo List</h1>


		{% for task in tasks %}

			<div>
				{{task.description}}</div>
			{{ include('task/_delete_form.html.twig') }}

		{% else %}
			<div>
				no record found</div>
		{% endfor %}

		<a href="{{ path('task_new') }}">Create new</a>
	</div>
{% endblock %}
