<div class="container mt-5 mb-2 border border-dark rounded p-2">
    <div class="">
        <h6>Me contacter</h6>
        
            <div>
                <i class="fas fa-at"></i>
                Pascalyut@gmail.com
            </div>
            <div>
                <i class="fas fa-phone"></i> 06 50 58 69 59</div>
            <div>
                <a href="https://linkedin.com/in/pascal-yu-1b904215a" target="_blank">
                    <i class="fab fa-linkedin"></i> Linkedin</a>
            </div>
            <div>
                <a href="https://github.com/pascalyu/" target="_blank">
                    <i class="fab fa-github"></i> github</a>
            </div>
    
    </div>
</div>